<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-4 col-sm-3">
      <div class="card">
        <h2 class="card-header">Contractors</h2>
        <div class="card-body">
          <div
            class="list"
            cdkDropList
            #contractorsList="cdkDropList"
            [cdkDropListData]="contractors"
            [cdkDropListConnectedTo]="[contractsList]"
            (cdkDropListDropped)="onDrop($event)"
          >
            <div class="alert alert-warning" role="alert">
              Only one contractor can be loader in a contract!
            </div>
            <ul
              class="list-group"
              *ngFor="let contractor of contractors"
              cdkDrag
            >
              <li class="list-group-item border border-dark">
                {{ contractor.name }} - {{ contractor.email }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-4 col-sm-3">
      <div class="card">
        <div class="card-header">
          <h2>Contracts</h2>
        </div>
        <div class="card-body">
          <div
            class="list"
            cdkDropList
            #contractsList="cdkDropList"
            [cdkDropListData]="contracts"
            (cdkDropListDropped)="onDrop($event)"
          >
            <div class="alert alert-success" role="alert">
              Drag and drop here
            </div>
            <ul class="list-group" *ngFor="let contract of contracts" cdkDrag>
              <li class="list-group-item border border-dark">
                <div class="row d-flex">
                  <div class="col-10 justify-content-start">
                    {{ contract.name }} <br />
                    {{ contract.email }}
                  </div>
                  <div class="col-2 justify-content-end">
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="disassociate(contract)"
                    >
                      X
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <form [formGroup]="contractForm" (ngSubmit)="saveContract(contractForm)">
        <div class="form-group">
          <label>Hours</label>
          <input
            class="form-control"
            type="number"
            name="hours"
            placeholder="Enter hours"
            formControlName="hours"
            [ngClass]="
              contractForm.get('hours').touched &&
              contractForm.get('hours').invalid
                ? 'is-invalid'
                : ''
            "
          />
          <div
            *ngIf="
              contractForm.get('hours').touched &&
              contractForm.get('hours').invalid
            "
            class="invalid-feedback"
          >
            <div *ngIf="contractForm.get('hours').errors.required">
              Please enter hours.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>startDate</label>
          <input
            class="form-control"
            type="date"
            name="startDate"
            placeholder="Enter startDate"
            formControlName="startDate"
            [ngClass]="
              contractForm.get('startDate').touched &&
              contractForm.get('startDate').invalid
                ? 'is-invalid'
                : ''
            "
          />
          <div
            *ngIf="
              contractForm.get('startDate').touched &&
              contractForm.get('startDate').invalid
            "
            class="invalid-feedback"
          >
            <div *ngIf="contractForm.get('startDate').errors.required">
              Please enter startDate.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Job</label>
          <input
            class="form-control"
            type="text"
            name="job"
            placeholder="Enter job"
            formControlName="job"
            [ngClass]="
              contractForm.get('job').touched && contractForm.get('job').invalid
                ? 'is-invalid'
                : ''
            "
          />
          <div
            *ngIf="
              contractForm.get('job').touched && contractForm.get('job').invalid
            "
            class="invalid-feedback"
          >
            <div *ngIf="contractForm.get('job').errors.required">
              Please enter job.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button
              type="submit"
              [disabled]="!contractForm.valid"
              class="btn btn-primary btn-block"
            >
              Save
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-danger btn-block"
              (click)="clearContract(contractForm)"
            >
              Clear contract
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-12 col-lg-4 col-sm-3">
      <div class="card">
        <div class="card-header">
          <h2>Employees</h2>
        </div>
        <div class="card-body">
          <div
            class="list"
            cdkDropList
            #employeesList="cdkDropList"
            [cdkDropListData]="employees"
            [cdkDropListConnectedTo]="contractsList"
            (cdkDropListDropped)="onDrop($event)"
          >
            <ul class="list-group" *ngFor="let employee of employees" cdkDrag>
              <li class="list-group-item border border-dark">
                {{ employee.name }} - {{ employee.email }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Contractor Name</th>
            <th>Employees Name</th>
            <th>Hours worked</th>
            <th>Missing hours</th>
            <th>Name of the work</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of showContracts">
            <td>{{ item.contractorName }}</td>
            <td>
              <div *ngFor="let employee of item.contract.employees">
                {{ employee.employeeName }}
              </div>
            </td>
            <td>
              {{
                missingHours(item.contract.hours, item.contract.startDate, true)
              }}
            </td>
            <td>
              {{
                missingHours(
                  item.contract.hours,
                  item.contract.startDate,
                  false
                )
              }}
            </td>
            <td>{{ item.contract.job }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
