<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">MEAN</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="api/employees">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="api/contractors">Contractors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/administration">administration</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
