<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <h5 class="card-header">Enter contractor details</h5>
        <div class="card-body">
          <form
            [formGroup]="contractorForm"
            (ngSubmit)="addContractor(contractorForm)"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Name</label>
                  <input
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="Enter Name"
                    formControlName="name"
                    [ngClass]="
                      contractorForm.get('name').touched &&
                      contractorForm.get('name').invalid
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="
                      contractorForm.get('name').touched &&
                      contractorForm.get('name').invalid
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="contractorForm.get('name').errors.required">
                      Please enter name.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Lastname</label>
                  <input
                    class="form-control"
                    type="text"
                    name="lastName"
                    placeholder="Enter lastname"
                    formControlName="lastName"
                    [ngClass]="
                      contractorForm.get('lastName').touched &&
                      contractorForm.get('lastName').invalid
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="
                      contractorForm.get('lastName').touched &&
                      contractorForm.get('lastName').invalid
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="contractorForm.get('lastName').errors.required">
                      Please enter lastName.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>ID number</label>
                  <input
                    class="form-control"
                    type="text"
                    name="id"
                    placeholder="Enter ID number"
                    formControlName="id"
                    [ngClass]="
                      contractorForm.get('id').touched &&
                      contractorForm.get('id').invalid
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="
                      contractorForm.get('id').touched &&
                      contractorForm.get('id').invalid
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="contractorForm.get('id').errors.required">
                      Please enter id number.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Birthdate</label>
                  <input
                    class="form-control"
                    type="date"
                    name="birthdate"
                    placeholder="Enter Birthdate"
                    formControlName="birthdate"
                    [ngClass]="
                      contractorForm.get('birthdate').touched &&
                      contractorForm.get('birthdate').invalid
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="
                      contractorForm.get('birthdate').touched &&
                      contractorForm.get('birthdate').invalid
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="contractorForm.get('birthdate').errors.required"
                    >
                      Please enter Birthdate.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address</label>
                  <input
                    class="form-control"
                    type="text"
                    name="address"
                    placeholder="Enter address"
                    formControlName="address"
                    [ngClass]="
                      contractorForm.get('address').touched &&
                      contractorForm.get('address').invalid
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="
                      contractorForm.get('address').touched &&
                      contractorForm.get('address').invalid
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="contractorForm.get('address').errors.required">
                      Please enter address.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Phone number</label>
                  <input
                    class="form-control"
                    type="text"
                    name="phone"
                    placeholder="Enter phone number"
                    formControlName="phone"
                    [ngClass]="
                      contractorForm.get('phone').touched &&
                      contractorForm.get('phone').invalid
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="
                      contractorForm.get('phone').touched &&
                      contractorForm.get('phone').invalid
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="contractorForm.get('phone').errors.required">
                      Please enter phone.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>email</label>
                  <input
                    class="form-control"
                    type="text"
                    name="email"
                    placeholder="Enter email"
                    formControlName="email"
                    [ngClass]="
                      contractorForm.get('email').touched &&
                      contractorForm.get('email').invalid
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="
                      contractorForm.get('email').touched &&
                      contractorForm.get('email').invalid
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="contractorForm.get('email').errors.required">
                      Please enter email.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>company</label>
                  <input
                    class="form-control"
                    type="text"
                    name="company"
                    placeholder="Enter company"
                    formControlName="company"
                    [ngClass]="
                      contractorForm.get('company').touched &&
                      contractorForm.get('company').invalid
                        ? 'is-invalid'
                        : ''
                    "
                  />
                  <div
                    *ngIf="
                      contractorForm.get('company').touched &&
                      contractorForm.get('company').invalid
                    "
                    class="invalid-feedback"
                  >
                    <div *ngIf="contractorForm.get('company').errors.required">
                      Please enter company.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button
              [disabled]="!contractorForm.valid"
              class="btn btn-dark btn-block"
            >
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>LastName</th>
            <th>ID number</th>
            <th>Birthdate</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Company</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contractor of contractorsService.contractors">
            <td>{{ contractor.name }}</td>
            <td>{{ contractor.lastName }}</td>
            <td>{{ contractor.id }}</td>
            <td>{{ contractor.birthdate }}</td>
            <td>{{ contractor.address }}</td>
            <td>{{ contractor.phone }}</td>
            <td>{{ contractor.email }}</td>
            <td>{{ contractor.company }}</td>
            <td>
              <button class="btn btn-secondary btn-sm">
                <i
                  class="material-icons"
                  (click)="editContractor(contractor); updateForms(true)"
                  >edit</i
                >
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="deleteContractor(contractor)"
              >
                <i class="material-icons">delete</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
